<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751805104840-t8039p18nck8o8rjsduc9nafses741hn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751805104840-t8039p18nck8o8rjsduc9nafses741hn</string>
	<key>API_KEY</key>
	<string>AIzaSyABXdSy8fZrUOhJR4DnsJejdGPjI5aMZQc</string>
	<key>GCM_SENDER_ID</key>
	<string>751805104840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.murataslan.instaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-4b717</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-4b717.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751805104840:ios:f3bb89286f5aa446e29bfd</string>
</dict>
</plist>